/*Color scheme:
light grey: c0c9cc
aquamarine: 5298c1
slate: #63747a
royal blue: #123175
*/

body {
	background: #5298c1;
	font-family: "Inter", sans-serif;
}
header{
	display:flex;
	align-items:center;
}
h1{
	font-family: "Ribeye Marrow", serif;
}
.logo{
	background: url(./assets/soccer.svg) no-repeat;
	width:24px;
	height: 24px;
	margin-right: 1em;
}
.leaflet-container{
	border-radius:20px;
	box-shadow:8px 8px 24px rgba(38, 50, 56, 0.12);
}
.form-container{
	width:80vw;
}
.search {
  display: flex;
  max-width: 500px;
}
.row {
	position: relative;
}
.row span {
	float:right;
	position:absolute;
	right:0;
	top:0;
	line-height:36px;
}

.search-input {
  width: 100%;
  border: 3px solid #123175;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.search button {
  width: 40px;
  height: 36px;
  border: 1px solid #123175;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  background: #123175 url(./assets/search-white.svg) no-repeat 4px;
}

